<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        p {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        a {

        }

    </style>
    <title>Alternative history</title>
</head>
<body>

<form action="/action_page.php">
    <div class="container">
        <h1>Регистрация</h1>
        <p>Заполните поля для входа на сайт.</p>
        <hr>

        <label for="email"><b>Имя пользователя</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Пароль</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label for="psw-repeat"><b>Повторите пароль</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat"
               required>
        <hr>
        <p>Создавая аккаунт вы соглашеетесь с нашими <a href="#"> привилами.</a>.</p>

        <button type="submit" class="registerbtn">Register</button>
    </div>

    <div class="container signin">
        <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
</form>
</body>
</html>


