<!-- Hello Page -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="/static/icon/test_02.png" type="image/png">
    <style>
	.border_style_ridge{
	border: 5px ridge #000000;
	padding: 3px;
	margin-bottom: 5px;
	}
	.border_style_outset{
	border: 5px outset #000000;
	padding: 3px;
	margin-bottom: 5px;
	border-radius:10px;
	}
    h1 {
        text-shadow: 7px 7px 20px #000;
    }

    p {
        text-shadow: 2px 5px 20px #000;
    }
    header{
     width: 100%;
     background: #808080;
     background: #808080 url(/static/icon/test_06.png) no-repeat 2% 50%;
     height: 100px;
     position: relative
    }
    .title{
     font-size: 36px;
     padding-top: 10px;
     text-align: center;
    }
    .menu{
     list-style: none;
     position: absolute;
     top: 10px;
     right: 100px;
     {
     .header_border{
     border-style: outset; /* Стиль линии вокруг параграфа */
     padding: 5px; /* Поля вокруг текста */
     }
     a{
        font-size: 26px;

     }
     .map p{
        text-align: center;
      }
     .map{
      max-width: 200px;
     }




    </style>
    <title>Alternative history</title>
</head>
<body>
<div class="border_style_outset">
    <div class="header_border">
        <!--ШЛЯПА САЙТА-->
        <header>
            <div class="title">Альтернативная История<br><font
                    style="font-size: 21px;">Измени ход событий</font></div>
            <ul class="menu">
                <li><a href="/help_main_page">
                    <font style="font-size: 20px;font-align:center;color:#000000;padding-left:20px;padding-right:20px">-Помощь</font></a>
                </li>
            </ul>
        </header>
    </div>

    <table
            align="center"
            rules="rows"
            style="width:100%;">
        <!--Создаём строку-->
        <tr>
            <!--Создаём ячейку строки-->
            <td>
                <!--ОСНОВНОЙ КОНТЕНТ-->

                <!--В этой же ячейке контейнера создаём ещё одну таблицу
                для основного контента, оформление как в предыдущей-->

                <table
                        border="2"
                        bgcolor="#ffffff"
                        cellpadding="10"
                        style="width:100%; border-radius:5px;">
                    <!--Создаём строку-->
                    <tr>
                        <!--Создаём ячейку-->
                        <td rowspan="3"
                            style="width:100%">
                            <p><font size="8">Рассказ о
                                том что это? для чего это? как
                                работает? и прочее...</font>
                            </p>
                            <br>
                            <!--Отступ-->

                            <p><img src="static/img/history1.png" align="left"
                                    style=" border: 30px solid #ffffff;"/><font
                                    size="4">Рассказ о
                                том что это? для чего это? как
                                работает? и прочее...
                                <br>
                                Альтернати́вная исто́рия (АИ) — жанр фантастики,
                                посвящённый изображению реальности, которая
                                могла бы быть, если бы история в один из своих
                                переломных моментов (точек бифуркации, или точек
                                развилки) пошла по другому пути. Не следует
                                путать данный литературный жанр с
                                альтернативными историческими теориями, которые
                                предлагают считать картину прошлого,
                                изображаемую исторической наукой, частично или
                                целиком ошибочной.
                                <br>
                                В произведениях, созданных в жанре
                                альтернативной истории, непременным элементом
                                сюжета является изменение хода истории в прошлом
                                (относительно времени создания произведения). По
                                фабуле произведения, в некоторый момент прошлого
                                по какой-либо причине, либо случайно, либо в
                                результате вмешательства внешних сил, например,
                                пришельцев из будущего, происходит что-то
                                отличное от происходившего в реальной
                                истории.<br>
                                Случившееся может быть связано с широко
                                известными историческими событиями или
                                историческими личностями, а может казаться, на
                                первый взгляд, малозначительным. В результате
                                этого изменения происходит «разветвление»
                                истории — события начинают развиваться
                                по-другому.<br>
                                В мире с изменённой историей и
                                происходит действие. Оно может проходить в любое
                                время: и в прошлом, и в настоящем, и в будущем,
                                — но на происходящие события существенным
                                образом влияет факт изменения истории. <br>
                                В одних
                                случаях описываются события, связанные с самим
                                «разветвлением», в других изложение фокусируется
                                на ситуациях, необычных в силу изменения
                                реальности, в третьих же основной темой
                                становятся попытки героев с помощью путешествия
                                во времени вернуть историю в изначальное русло,
                                вторично изменить её в другом направлении или,
                                наоборот, «закрепить» изменённую реальность.
                                Классический литературный пример - рассказ
                                Роберта Шекли «Три смерти Бена Бакстера», где
                                действие происходят в трёх, отличных друг от
                                друга, мирах в XX веке.
                            </font>
                            </p>
                            <br>
                            <br><br>
                            <br><br>
                            <h3>Примеры альтернативных политических карт:</h3>
                            <br>
                            <figure class="map">
                                <img src="static/img/map_01_big.png" width="600"
                                     height="300">
                                <img src="static/img/map_02_big.png" width="600"
                                     height="300" align="right">
                                <p align="left">Политическая карта мира из книги
                                    «В
                                    присутствии моих врагов» Гарри Тертлдава —
                                    Страны Оси победили во Второй мировой
                                    войне</p>
                                <p align="right">Политическая карта мира в
                                    романе «1984»</p>
                            </figure>
                        </td>
                        <!--Закрываем ячейку-->
                        <!--САЙДБАР-->
                        <!--Создаём ячейку сайдбара-->
                        <td bgcolor="#808080">
                            <h3>Меню</h3>
                            <!--Абзац для ссылки на страницу сайта-->
                            <p>
                                <!--Ссылка на страницу сайта-->
                            <ul>
                                <li><a href="/history_welcome"><font
                                        style="font-size: 24px;font-align:center;color:#000000;padding-left:20px;padding-right:20px">Квиз</font></a>
                                </li>
                            </ul>
                            <!--Закрываем абзац-->
                            </p>
                            <!--Закрываем строку Меню-->
                        </td>
                    </tr>
                    <!--Создаём строку с дополнительной информацией-->
                    <tr>
                        <!--Ячейка с дополнительной информацией-->
                        <td
                                bgcolor="#808080"
                                align="center">
                            <h3>Общая информация</h3>
                            <p>
                            <ul>
                                <li><a href="/rules"><font
                                        style="font-size: 24px;font-align:center;color:#000000;padding-left:20px;padding-right:20px">Общие
                                    правила</font></a>
                                </li>
                            </ul>
                            </p>
                            <!--Закрываем ячейку с общей информацией
                            и таблицу основного контента-->
                        </td>
                    </tr>
                </table>

                <!--ИНФОРМАЦИОННАЯ СТРОКА-->

                <!--Создаём таблицу-->
                <table
                        border="1"
                        bgcolor="#323332"
                        height="100"
                        cellpadding="10"
                        style="width:100%; border-radius:5px;">
                    <!--Создаём строку.-->
                    <tr>
                        <!--Создаём столбец-->
                        <th>
                            <p align="left"
                               style="color: white; font-size: 22px;">Полезные
                                ссылки: </p>
                            <a href="https://vk.com/alternatehistory_1"
                               target="_blank"
                               style="color: white; font-size: 22px;"><img
                                    src="/static/img/VK.jpg" height="30"
                                    width="30">Наша группа в ВК</a>
                            &nbsp&nbsp
                            <a href="http://alternathistory.com/"
                               target="_blank"
                               style="color: white; font-size: 22px;"><img
                                    src="/static/img/alternative.jpg"
                                    height="30" width="30">Наши коллеги</a>
                            &nbsp&nbsp
                            <a href="https://yandex.ru/maps/?um=constructor%3Ac6e9161048ba4239bf267506f6d1ec5e7a78ab9680535d80d1604e6c3c1a3ddf&source=constructorLink"
                               target="_blank"
                               style="color: white; font-size: 22px;"><img
                                    src="/static/img/yandex_maps.png"
                                    height="30" width="30">Наше место нахождения</a>
                            <h4 align="right" style="color: white;">почта для
                                сотрудничества:<br>qq@dd.tt</h4>

                        </th>
                    </tr>
                </table>
                <!--Закрываем таблицу контейнера-->
            </td>
        </tr>
    </table>
</div>
<!--ФУТЕР-->
<footer>
    copyright © 2020 by Кирилл and Максим.<br>
    Все права защищены<br>
    Запрещено любое копирование материалов ресурса без письменного согласия
    владельцев

</footer>
</body>
</html>