<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rules</title>
    <link rel="shortcut icon" href="/static/icon/rules.png" type="image/png">
    <style>header{
 width: 100%;
 background: #808080;
 background: #808080 url(/static/icon/test_06.png) no-repeat 2% 50%;
 height: 100px;
 position: relative
}
.title{
 font-size: 36px;
 padding-top: 10px;
 text-align: center;
}
.menu{
 list-style: none;
 position: absolute;
 top: 10px;
 right: 100px;
}
p{
  font-size: 22px;
}
.fig{
    text-align: center;
}

body{
    background: #bbbbbb;
}
.border_style_outset{
	border: 5px outset #000000;
	padding: 3px;
	margin-bottom: 5px;
	border-radius:10px;
	}
a{
    font-size: 22px
    text-align: right
}




    </style>
</head>
<body>

<div class="border_style_outset">
    <header>
        <div class="title">Альтернативная история</div>
        <ul class="menu">
            <li><a href="/hello_page">-Вернуться на главную</a></li>
            <li></li>
        </ul>
    </header>
    <table
            border="2"
            bgcolor="#ffffff"
            cellpadding="50"
            style="width:100%; border-radius:5px;">
        <!--Создаём строку-->
        <tr>
            <!--Создаём ячейку-->
            <td rowspan="3"
                style="width:100%">
                <a><font style="font-size: 36px">Основные правила пользования ресурсом:</font></a>
                <ul>
                    <li>
                        <p>
                            Перейда по ссылке "<a href="/history_welcome"><font
                            style="font-size: 20px;font-align:center;color:#000000">Квиз</font></a>" в меню странциы, вы попадете на начальную страницу.
                            <br>
                        </p>
                    </li>
                    <li>
                        <p>Для того чтобы начать нажимте кнопку "ПОЕХАЛИ!"</p>

                    </li>
                    <li>
                        <p>Перейдя на сам тест, вам придётся создавать альтернативную историю.<br>
                            Для этого выбирайте предложенные варианты ответов и затем нажимайте на кнопку ОК</p>
                        <br>
                    </li>
                </ul>

            </td>
            <td bgcolor="#808080">
                <h3>Меню</h3>
                <!--Абзац для ссылки на страницу сайта-->
                <p>
                    <!--Ссылка на страницу сайта-->
                <ul>
                    <li><a href="/history_welcome"><font
                            style="font-size: 24px;font-align:center;color:#000000;padding-left:20px;padding-right:20px">Квиз</font></a>
                    </li>
                </ul>
                <!--Закрываем абзац-->
                </p>
                <!--Закрываем строку Меню-->
            </td>
        </tr>
        <!--Создаём строку с дополнительной информацией-->
        <tr>
            <!--Ячейка с дополнительной информацией-->
            <td
                    bgcolor="#808080"
                    align="center">
                <h3>Полезная информация:</h3>
                <p>
                <ul>
                <li><p>Чтобы наилучшим образом создать альтернативную историю, надо досканально изучить реальную.©Sokrat</p>
                    </li>
                </ul>
                </p>
                <!--Закрываем ячейку с общей информацией
                и таблицу основного контента-->
            </td>
        </tr>
    </table>
</div>
<footer>
    copyright © 2020 by Кирилл and Максим.<br>
    Все права защищены<br>
    Запрещено любое копирование материалов ресурса без письменного согласия
    владельцев
</footer>

</body>
</html>